In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_csv("services.csv")

In [4]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [5]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [6]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [9]:
df['status']

0       active
1       active
2       active
3       active
4       active
5       active
6       active
7       active
8       active
9       active
10      active
11      active
12      active
13      active
14      active
15      active
16      active
17      active
18      active
19     defunct
20    inactive
21      active
22      active
Name: status, dtype: object

In [10]:
list[df['status']]

list[0       active
1       active
2       active
3       active
4       active
5       active
6       active
7       active
8       active
9       active
10      active
11      active
12      active
13      active
14      active
15      active
16      active
17      active
18      active
19     defunct
20    inactive
21      active
22      active
Name: status, dtype: object]

In [11]:
df[['status']]

      status
0     active
1     active
2     active
3     active
4     active
5     active
6     active
7     active
8     active
9     active
10    active
11    active
12    active
13    active
14    active
15    active
16    active
17    active
18    active
19   defunct
20  inactive
21    active
22    active

In [12]:
type(df[['status']])

pandas.core.frame.DataFrame

In [13]:
df[['name','email','keywords']]

,name,email,keywords
0,Fair Oaks Adult Activity Center,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites..."
1,Second Career Employment Program,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,..."
2,Senior Peer Counseling,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi..."
3,Family Visitation Center,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr..."
4,Economic Self-Sufficiency Program,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans"
5,Little House Recreational Activities,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su..."
6,Rosener House Adult Day Services,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ..."
7,Meals on Wheels - South County,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites..."
8,Fair Oaks Branch,NaN,"EDUCATION SERVICES, Library, Libraries, Public..."
9,Main Library,NaN,"EDUCATION SERVICES, Library, Libraries, Public..."
10,Schaberg Branch,NaN,"EDUCATION SERVICES, Library, Libraries, Public..."
11,Project Read,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera..."
12,Redwood Shores Branch,NaN,"EDUCATION SERVICES, Library, Libraries, Public..."
13,Redwood City Corps,NaN,"COMMUNITY SERVICES, Interpretation/Translation..."
14,Adult Rehabilitation Center,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB..."
15,Sunnyvale Corps,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C..."
16,South San Francisco Citadel Corps,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C..."
17,Project Smile,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl..."
18,San Mateo Free Medical Clinic,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl..."
19,Service with blank fields,NaN,NaN
20,Service for Admin Test Location,NaN,NaN
21,Passport Photos,passports@example.org,"Salud, Medicina"
22,Example Service Name,NaN,"Ruby on Rails/Postgres/Redis, testing, wic"

In [20]:
df2 = pd.read_excel('LUSID Excel - Setting up your market data.xlsx')

In [21]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [22]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [24]:
df2.head

<bound method NDFrame.head of     Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                  Datetimes in LUSID
2                                                 NaN
3    This sheet allows you to format datetimes for...
4         If you have any questions please visit our:
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                                           Unnamed: 4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                           Getting Started tutorials
6                             Knowledge Base articles
7                                       or Contact us
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID accepts datetimes in any recognised Exce...
12                                                NaN
13                     Excel formats to show datetime
14                                                NaN
15                          Enter the date to convert
16                                                NaN
17                    This date has no time component
18                                                NaN
19                             Specify time component
20                                                NaN
21  Add to your date and display the complete date...
22                                                NaN
23   Although the date can still appears without time
24                                                NaN
25                       Add an hour to your datetime
26                                                NaN
27               Subtract a minute from your datetime

                    Unnamed: 5  Unnamed: 6  \
0                          NaN         NaN
1                          NaN         NaN
2                          NaN         NaN
3                          NaN         NaN
4                          NaN         NaN
5                          NaN         NaN
6                          NaN         NaN
7                          NaN         NaN
8                          NaN         NaN
9                          NaN         NaN
10                         NaN         NaN
11                         NaN         NaN
12                         NaN         NaN
13                         NaN         NaN
14                         NaN         NaN
15         2019-04-10 00:00:00         NaN
16                         NaN         NaN
17         2019-04-10 00:00:00         NaN
18                         NaN         NaN
19             13:30:45.550000         NaN
20                         NaN         NaN
21  2019-04-10 13:30:45.550000         NaN
22                         NaN         NaN
23  2019-04-10 13:30:45.550000         NaN
24                         NaN         NaN
25  2019-04-10 14:30:45.550000         NaN
26                         NaN         NaN
27  2019-04-10 14:29:45.550000         NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID also accepts UTC, UTS offsets and cutlabels
12                                                NaN
13                                 Additional formats
14                                                NaN
15                            Standard UTC timestamp:
16                                                NaN
17                         Convert date into a string
18                                                NaN
19       UTC offset (not recognised as an excel date)
20                                                NaN
21                                           Cutlabel
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                   Unnamed: 8  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
5                         NaN
6                         NaN
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                        NaN
13                        NaN
14                        NaN
15  "YYYY-MM-DDTHH:MM:SS.00Z"
16                        NaN
17   2019-04-10T 13:30:45.55Z
18                        NaN
19  2019-04-10T13:30:45+04:00
20                        NaN
21  2019-04-10NSingaporeClose
22                        NaN
23                        NaN
24                        NaN
25                        NaN
26                        NaN
27                        NaN

                                           Unnamed: 9
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15  Where Z indicates Zulu time (UTC+0), and is eq...
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN  >

In [25]:
df2.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [26]:
df2.head(4)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df2.tail

<bound method NDFrame.tail of     Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                  Datetimes in LUSID
2                                                 NaN
3    This sheet allows you to format datetimes for...
4         If you have any questions please visit our:
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                                           Unnamed: 4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                           Getting Started tutorials
6                             Knowledge Base articles
7                                       or Contact us
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID accepts datetimes in any recognised Exce...
12                                                NaN
13                     Excel formats to show datetime
14                                                NaN
15                          Enter the date to convert
16                                                NaN
17                    This date has no time component
18                                                NaN
19                             Specify time component
20                                                NaN
21  Add to your date and display the complete date...
22                                                NaN
23   Although the date can still appears without time
24                                                NaN
25                       Add an hour to your datetime
26                                                NaN
27               Subtract a minute from your datetime

                    Unnamed: 5  Unnamed: 6  \
0                          NaN         NaN
1                          NaN         NaN
2                          NaN         NaN
3                          NaN         NaN
4                          NaN         NaN
5                          NaN         NaN
6                          NaN         NaN
7                          NaN         NaN
8                          NaN         NaN
9                          NaN         NaN
10                         NaN         NaN
11                         NaN         NaN
12                         NaN         NaN
13                         NaN         NaN
14                         NaN         NaN
15         2019-04-10 00:00:00         NaN
16                         NaN         NaN
17         2019-04-10 00:00:00         NaN
18                         NaN         NaN
19             13:30:45.550000         NaN
20                         NaN         NaN
21  2019-04-10 13:30:45.550000         NaN
22                         NaN         NaN
23  2019-04-10 13:30:45.550000         NaN
24                         NaN         NaN
25  2019-04-10 14:30:45.550000         NaN
26                         NaN         NaN
27  2019-04-10 14:29:45.550000         NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID also accepts UTC, UTS offsets and cutlabels
12                                                NaN
13                                 Additional formats
14                                                NaN
15                            Standard UTC timestamp:
16                                                NaN
17                         Convert date into a string
18                                                NaN
19       UTC offset (not recognised as an excel date)
20                                                NaN
21                                           Cutlabel
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                   Unnamed: 8  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
5                         NaN
6                         NaN
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                        NaN
13                        NaN
14                        NaN
15  "YYYY-MM-DDTHH:MM:SS.00Z"
16                        NaN
17   2019-04-10T 13:30:45.55Z
18                        NaN
19  2019-04-10T13:30:45+04:00
20                        NaN
21  2019-04-10NSingaporeClose
22                        NaN
23                        NaN
24                        NaN
25                        NaN
26                        NaN
27                        NaN

                                           Unnamed: 9
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15  Where Z indicates Zulu time (UTC+0), and is eq...
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN  >